.order-details {
    width: 720px;
    min-height: 718px;
    padding: 40px 0;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 
        0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.button-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}

.order-number {
    height: 120px;
    margin: 80px 0 32px 0;
}

.icon-done {
    margin: 60px 300px;
    width: 120px;
    height: 120px;  
    background-image: url(../../images/done.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}