.title {
    width: 1240px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.page-content {
    width: 1248px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 608px 580px;
    column-gap: 60px;
}

.constructor-scroll {
    height: 812px;
    width: 608px;
    padding: 0 16px 0 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(19, 19, 22);
}

.constructor-scroll::-webkit-scrollbar{
    background-color: #2F2F37;
    width: 8px;
}

.constructor-scroll::-webkit-scrollbar-thumb{
    background-color: #8585AD;
}

.orderList {
    margin: 0;
    padding: 0;
}

.statistics {
    width: 580px;
    height: 626px;
    background: #1C1C21;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.ordersBoard {
    width: 580px;
    height: 206px;
    display: flex;
    flex-direction: row;
}