.BurgerIngredients{
    width: 600px;
    height: 912px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ingredientsScroll {
    height: 756px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(19, 19, 22);
}

.cardList {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 272px);
    gap: 32px 24px;
}

