.home {
    width: 720px;
    min-height: 718px;
    padding: 40px 0;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 
        0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.title {
    width: 640px;
    height: 64px;
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.app {
    height: 100vh;
    min-width: 1320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(19, 19, 22);
  }
  
.body {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 40px;
    }

.link {
    text-decoration: none;
}